@model MovieR.Models.Movie

@{
    ViewBag.Title = "details";
}

<h2><b>Name:</b> @Model.Name</h2>
<h4><b>No. of stock available:</b> @Model.noOfStock</h4>
<h4><b>Release Date:</b> @Model.releasedate</h4>
<h4><b>Genre:</b>@Model.genre</h4>